@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";

contact-us-form{
    width: 100%;
}

.container {
    @include center-all;
    padding: 50px 0 0 0;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
}   

.information-about-location{
    padding: 0px 10px 20px 10px;
    background-color: $second-color;
    margin-right: 20px;
    max-width: 250px;
    max-height: 296px;
    border-radius: $border-radius;
    min-width: 250px;
}

.information-about-location-title{
    color: #000;
}

.information-about-location-phone, .information-about-location-street{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.information-about-location-phone a:hover, .information-about-location-street a:hover{
    color: $white;
}

.information-about-location-street::before, .information-about-location-phone::before{
    margin-right: 5px;
}

.information-about-location-phone::before{
    @include phone-icon-ba;
}

.information-about-location-street::before{
    @include location-icon-ba;
}


.hours-work{
    border: 1px #fff solid;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding-top: 40px;
}

.hours-work::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -8px;
    background-image: url("../../../../assets/images/open-50.png");
}

.hours-work-time{
    font-size: 15px;
}

.days-work-time, .hours-work-time{
    margin: 16px 0;
}

.swiper{
    max-width: 320px;
    margin: 0 0 0 20px;
    overflow: hidden;
    border-radius: $border-radius;
}

.swiper, .map-wrapper, .information-about-location{
    margin-bottom: 20px;
}

.slide-img{
    height: 312px;
    width: 320px;
}

.map-wrapper{
    border-radius: $border-radius;
    overflow: hidden;
}



@media (max-width: 1250px) {
    .google-map{
        width: 500px
    }
}

@media (max-width: 1170px) {
    .google-map{
        width: 300px;
    }
}

@media (max-width: 700px) {
    .swiper{
        margin-left: 0;
    }
}