<div class="container">
    <div class="information-about-location">
        <h1 class="information-about-location-title">MediSof</h1>
        <p class="information-about-location-street"><a href="{{sharedInformation.addressLink}}" target="_blank">Адреса: {{sharedInformation.address}}</a></p>
        <p class="information-about-location-phone"><a href="{{sharedInformation.phoneNumberLink}}">{{sharedInformation.phoneNumber}}</a></p>
        <div class="hours-work">
            <p class="days-work-time">Понеділок - Субота</p>
            <p class="hours-work-time">З 9:00 до 21:00</p>
        </div>
    </div>
    <div class="map-wrapper">
        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2573.3336202834857!2d24.0336911!3d49.8361886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6919148be5%3A0x7bcda23428036940!2sKniazia%20Romana%20St%2C%2011%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%2079000!5e0!3m2!1sen!2sua!4v1691932445438!5m2!1sen!2sua" width="600" height="312" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
    </div>
    <swiper-container class="swiper" swiperElement [config]="config" init="false" autoplay-delay="5000" pagination-clickable="true" autoplay-disable-on-interaction="false">
            <swiper-slide class="slide"><img class="slide-img" src="../../../../assets/images/test-office.jpg" alt=""></swiper-slide>
            <swiper-slide class="slide"><img class="slide-img" src="../../../../assets/images/test-office.jpg" alt=""></swiper-slide>
            <swiper-slide class="slide"><img class="slide-img" src="../../../../assets/images/test-office.jpg" alt=""></swiper-slide>
  </swiper-container>
</div>