@import "../../../shared/styles/shared-color.scss";

.social-media-list {
    display: flex;
    padding: 0;

    li{
        margin-right: 15px;
    }
  }
  
  .facebook,
  .inst,
  .viber,
  .telegram {
    width: 35px;
    height: 35px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  .facebook {
    background-image: url("../../../../assets/images/facebook-50.png");
  
    &:hover{
      background-image: url("../../../../assets/images/facebook-50-white.png");
    }
  }
  
  .inst {
    background-image: url("../../../../assets/images/instagram-50.png");
  
    &:hover{
      background-image: url("../../../../assets/images/instagram-50-white.png");
    }
  }
  
  .viber {
    background-image: url("../../../../assets/images/viber-50.png");
  
    &:hover{
      background-image: url("../../../../assets/images/viber-50-white.png");
    }
  }
  
  .telegram {
    background-image: url("../../../../assets/images/telegram-50.png");
  
    &:hover{
      background-image: url("../../../../assets/images/telegram-50-white.png");
    }
  }
  