<ul class="social-media-list">
    <li>
        <a [style]="getSize()" class="inst" href="https://instagram.com/medisof_clinic_lviv?igshid=MzRlODBiNWFlZA==" target="_blank"></a>
    </li>
    <li>
        <a [style]="getSize()" class="facebook" href="https://www.facebook.com/people/MEDI-SOF/100088375135904/" target="_blank"></a>
    </li>
    <li>
        <a [style]="getSize()" class="viber" href="viber://chat/?number=%2B380930234950" target="_blank"></a>
    </li>
    <li>
        <a [style]="getSize()" class="telegram" href="https://t.me/MediSofClinic" target="_blank"></a>
    </li>
</ul>