<!--<div class="container">
    <div class="left-section">
        <h1>Зв'язатися з нами</h1>
        <contact-us-form></contact-us-form>
    </div>
    
</div>
-->
<div class="container">
    <div class="facility">
        <div class="facility-number">1</div>
        <div>
            <h1>MediSof місто Львів</h1>
        <p>
            Князя Романа, 11
        </p>
        </div>
    </div>
    <div class="information-about-location">
        <h1 class="information-about-location-title">MediSof</h1>
        <p class="information-about-location-street">Адреса: м. Львів, Князя Романа, 11</p>
        <p class="information-about-location-phone"><a href="tel:123-456-7890">+380 45 943-44-23</a></p>
        <div class="hours-work">
            <p>Понеділок - П'ятниця</p>
            <p class="hours-work-time">З 8:00 до 16:00</p>
        </div>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2573.3336202834857!2d24.0336911!3d49.8361886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6919148be5%3A0x7bcda23428036940!2sKniazia%20Romana%20St%2C%2011%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%2079000!5e0!3m2!1sen!2sua!4v1691932445438!5m2!1sen!2sua" width="600" height="312" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
    </div>
</div>