@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";


$information-about-location-back-polygon: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 10% 55%, 5% 45%, 10% 35%);

contact-us-form{
    width: 100%;
}

.container {
    @include center-all;
    padding: 50px 0 0 0;
    width: 100%;;
}   

.facility{
    display: flex; 
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    border-color: $main-color;
    padding-right: 20px;
}

.facility-number{
    @include center-all;
    margin: 0 30px 0 30px;
    background-color: $main-color;
    padding: 20px;
    border-radius: 100%;
    line-height: 20px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    color: $white;
}

.information-about-location{
    padding: 0px 10px 20px 40px;
    -webkit-clip-path: $information-about-location-back-polygon;
    clip-path: $information-about-location-back-polygon;
    background-color: $main-color;
    margin-right: 20px;
    max-width: 250px;
    max-height: 296px;
}

.information-about-location-title{
    color: $white;
}

.information-about-location-phone, .information-about-location-street{
    display: flex;
    align-items: center;
}

.information-about-location-phone a:hover, .information-about-location-street a:hover{
    color: $white;
}

.information-about-location-phone::before, .information-about-location-street::before{
    background-size: 19px;
    width: 22px; 
    height: 19px;
    content:"";
    margin-right: 5px;
    @include center-all;
    background-repeat: no-repeat;
}

.information-about-location-phone::before{
    background-image: url("../../../../assets/images/phone-50.png");
}

.information-about-location-street::before{
    background-image: url("../../../../assets/images/location-50.png");
}


.hours-work{
    border: 1px #fff solid;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding-top: 40px;
}

.hours-work::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -8px;
    background-image: url("../../../../assets/images/open-50.png");
}

.hours-work-time{
    font-size: 15px;
}