@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
  max-width: 125px;
  max-height: 65px;
}

.logo-link{
    margin: 10px 0;
}

.navigation-container {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;

    li {
      margin: 5px 0;

      a {
        color: black;
        font-family: "RobotoMedium";
        background: linear-gradient($main-color 0 0) var(--p, 0) / var(--p, 0)
          no-repeat;
        transition: 0.4s, background-position 0s;
        padding: 5px;
        border-radius: 5px;
        @include center-all;
        position: relative;
        &:hover {
          --p: 100%;
          color: $white;
        }
      }
    }
  }
}

.phone-number {
  display: flex;
  margin: 30px 0;
}

.phone-number {
  a {
    @include center-all;
  }
}

.phone-number a::before {
  @include phone-icon-ba;
  margin-right: 5px;
}

.phone-number a:hover::before {
  color: $white;
  background-image: url("../../../../assets/images/phone-white-50.png");
}

.phone-number:hover {
  a {
    color: $white;
  }
}


.social-media-nav {
  border-left: $border-color 1px solid;
  padding-left: 20px;
  
}

.service-link {
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $tomato-color;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: 0;
    right: 7px;
  }
}
