@import "../../../shared/styles/shared-color.scss";

.container {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    z-index: 999999999999;
    left: 120px;
    display: flex;
}

.left-side{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    max-height: 80%;
}

.right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;   
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666; 
    max-width: 390px;
}

input:focus{
    border: none;
    outline: none;
}

input, textarea{
    border: none;
    margin-bottom: 15px;
    background-color: #e7e7e7;
}

textarea{
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
    max-width: 390px;
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

textarea:focus{
    border: none;
    outline: none; 
}

button{
    min-width: 193px;
    height: 50px;
    border-radius: 5px;
    background: $main-color;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    cursor: pointer;
}