@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";

h1{
    margin: 0;
}

.container{
    max-width: 1380px;
    margin: auto;
}

.contact-form{
    background-color: $C50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.back{
    background-color: #f6e5f7;
    position: absolute;
    width: 100%;
}

.social-media-container{
    background-color:$C100;
    padding: 20px 5px 20px 0;

}

.information-card{
    background-color: $white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 20px;
    max-height: 300px;
    margin: auto 0 auto 0;
}

.information-container{
    display: flex;
}

.information-block{
    display: flex;
    justify-content: space-around;
}

.our-social-media-container{
    max-width: 40%;
    margin-right: 40px;
}

.our-social-media-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.map-wrapper{
    border-radius: $border-radius;
    overflow: hidden;
}

.title{
    color: $main-color;
    margin-bottom: 20px;
    
}

.card-sub-title{
    font-size: 1.37em
}

.phoneNumber:hover, .address:hover{
    color: $second-color;
}

.phone-number-container, .address-container{
    display: flex;
}

.phone-number-container::before{
    @include phone-icon-ba;
}

.address-container::before{
    @include location-icon-ba;
}


.address-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contact-us-form-description{
    text-align: center;
    padding: 10px;
    
}

.social-media-component{
    margin-top: 10px;
}

@media (max-width: 1280px){
    .our-social-media-container{
        max-width: 30%;
        margin-right: 15px;
    }
}

@media(max-width: 1120px){
    .google-map{
        width: 300px;
        height: 300px;
    }
}


@media(max-width: 980px){
    .our-social-media-container{
        margin-right: 0;
    }
}

@media(max-width: 870px){
    .our-social-media-container{
        max-width: 100%;
        margin-bottom: 7px;
    }

    .information-block{
        flex-direction: column;
    }
}

@media(max-width: 640px){
    .address-wrapper{
        flex-direction: column;
    }

    .information-card{
        max-width: 230px;
        margin: 15px 0;
    }
    
    .address-wrapper{
        align-items: center;
    }

    .our-social-media-container{
        margin-bottom: 0;
    }
}