@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";

.header {
  margin: auto;
  background-color: $second-color;
  display: flex;
  border-bottom: 2px $border-color solid;
  padding: 20px 10% 20px 10%;
}

.container {
  display: flex;
  margin: auto;
}

.logo {
  max-width: 80px;
  max-height: 80px;
}

.navigation-container {
  display: flex;
  align-items: center;

  ul {
    display: flex;

    li {
      margin: 0 20px 0 20px;

      a {
        color: black;
        font-family: "RobotoMedium";
        background: linear-gradient($main-color 0 0) var(--p, 0) / var(--p, 0)
          no-repeat;
        transition: 0.4s, background-position 0s;
        padding: 5px;
        border-radius: 5px;
        @include center-all;
        position: relative;
        &:hover {
          --p: 100%;
        }
      }
    }
  }
}

.phone-number {
  display: flex;
  margin-right: 20px;
}

.phone-number {
  a {
    @include center-all;
  }
}

.phone-number a::before {
  @include phone-icon-ba;
  margin-right: 5px;
}

.phone-number a:hover::before {
  color: $white;
  background-image: url("../../../../assets/images/phone-white-50.png");
}

.phone-number:hover {
  a {
    color: $white;
  }
}

.social-media-nav ul {
  display: flex;
  padding: 0;
}

.social-media-nav ul li {
  margin-right: 15px;
}

.social-media-nav ul li,
.facebook,
.inst,
.viber,
.telegram {
  width: 35px;
  height: 35px;
}

.facebook,
.inst,
.viber,
.telegram {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.facebook {
  background-image: url("../../../../assets/images/facebook-50.png");
}

.facebook:hover {
  //background-image:url('../../../../assets/gifs/facebook.gif');
}

.inst {
  background-image: url("../../../../assets/images/instagram-50.png");
}

.inst:hover {
  //background-image:url('../../../../assets/gifs/instagram.gif');
}

.viber {
  background-image: url("../../../../assets/images/viber-50.png");
}

.viber:hover {
  //background-image:url('../../../../assets/gifs/viber.gif');
}

.telegram {
  background-image: url("../../../../assets/images/telegram-50.png");
}

.social-media-nav {
  border-left: $border-color 1px solid;
  padding-left: 20px;
  display: flex;
}

.service-link {
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: 0;
    right: -4px;
  }
}
