<header class="header">
    <img class="logo" src="../../../../assets/icons/main-logo.png" alt="Medi Sof Clinic">
    <nav>
        <ul>
            <li>
                <a routerLink="">Головна сторінка</a>
            </li>
            <li>
                <a routerLink="/services">Послуги</a>
            </li>
            <li>
                <a routerLink="">Відгуки</a>
            </li>
            <li>
                <a routerLink="">Контакти</a>
            </li>
        </ul>
        <a href="tel:123-456-7890">123-456-7890</a>
    </nav>
</header>