@import "../../../shared/styles/shared-color.scss";
@import "../../../shared/styles/shared.scss";

.header {
  margin: auto;
  background-color: $second-color;
  display: flex;
  border-bottom: 2px $border-color solid;
  padding: 20px 10% 20px 10%;
}

.container {
  display: flex;
  margin: auto;
}

.logo {
  max-width: 154px;
  max-height: 80px;
}

.navigation-container {
  display: flex;
  align-items: center;

  ul {
    display: flex;

    li {
      margin: 0 20px;

      a {
        color: black;
        font-family: "RobotoMedium";
        background: linear-gradient($main-color 0 0) var(--p, 0) / var(--p, 0) no-repeat;
        transition: 0.4s, background-position 0s;
        padding: 5px;
        border-radius: 5px;
        @include center-all;
        position: relative;

        &:hover {
          --p: 100%;
          color: $white;
        }
      }
    }
  }
}

.phone-number {
  display: flex;
  margin-right: 20px;
}

.phone-number {
  a {
    @include center-all;
  }
}

.phone-number a::before {
  @include phone-icon-ba;
  margin-right: 5px;
}

.phone-number a:hover::before {
  color: $white;
  background-image: url("../../../../assets/images/phone-white-50.png");
}

.phone-number:hover {
  a {
    color: $white;
  }
}


.social-media-nav {
  border-left: $border-color 1px solid;
  padding-left: 20px;
  display: flex;
}

.service-link {
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $tomato-color;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    top: 0;
    right: -4px;
  }
}

.side-menu-button {
  display: none;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.side-menu-icon {
  width: 45px;
  height: 45px;
  font-size: 45px;
}


@media (max-width: 1320px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .container {
    margin: 0;
  }
}

@media (max-width: 1050px) {
  .social-media-nav {
    display: block;
  }

  .phone-number {
    margin-right: 0;
    margin-bottom: 15px;
  }
}


@media (max-width: 850px) {
  .navigation-container {
    ul {
      padding-left: 10px;

      li {
        margin: 0 7px;
      }
    }
  }
}

@media (max-width: 710px) {

  .navigation-container,
  .social-media-nav {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 5px 0;
  }

  .logo-wrapper {
    margin-left: 40px;
  }

  .side-menu-button {
    display: flex;
    margin-right: 20px;
  }

  .logo {
    max-width: 125px;
    max-height: 65px;
  }


}

@media (max-width: 500px) {
  .side-menu-button {
    width: 70px;
    height: 70px;
  }

  .side-menu-icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}