<header class="header">
    <a routerLink=""> <img class="logo" src="../../../../assets/icons/2.png" alt="Medi Sof Clinic"></a>
     <div class="container">
         <nav class="navigation-container">
             <ul>
                <li>
                    <a routerLink="">Головна</a>
                </li>
                 <li>
                     <a class="service-link" routerLink="/services">Послуги</a>
                 </li>
                 <li>
                    <a routerLink="cosmetics">Косметика</a>
                </li>
                 <li>
                     <a routerLink="/contacts">Контакти</a>
                 </li>
             </ul>
         </nav>
     
         <div class="social-media-nav">
             <p class="phone-number"><a href="{{sharedInformation.phoneNumberLink}}">{{sharedInformation.phoneNumber}}</a></p>
             <social-media-icons></social-media-icons>
         </div>
     </div>
 </header>