@import "../../../shared/styles/shared-color.scss";

.header {
    margin: auto;
    background-color: $second-color;
    display: flex;
    border-bottom: 2px #efcbba solid;
    padding: 20px 10% 20px 10%;
}

.logo {
    max-width: 80px;
    max-height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px 0 20px;
}

nav ul li a {
    color: $main-color;
    font-family: "RobotoMedium";
    background: linear-gradient($main-color 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a:hover {
    --p: 100%;
    color: #fff;
}