<div class="main-section">
    <div class="section">
        <div class="section-background"></div>
        <div class="title-section">
            <h1 class="title">
                <span style="white-space: nowrap;">Косметологічна клініка </span>
                <span style="display: block; text-align: center;">MediSof</span>
            </h1>
            <p class="description">
                Відкрийте себе по-новому з нашими косметологічними послугами! Вкажіть свій номер телефону для індивідуальної консультації!
            </p>
        </div>
    </div>
    <main-services></main-services>
    <our-advantages></our-advantages>
    <our-location></our-location>
</div>
