<div class="container">
    <div>

    </div>
    <div class="panel-container" *ngFor="let brand of cosmeticsList.default">
        <div class="panel-header" #header (click)="expandCosmetics(panel, header, border)">
            <div class="image-wrapper">
                <img class="brand-logo" src="{{brand.logo}}" alt="{{brand.title}}" loading="auto">
            </div>
            <h1 class="header-title">{{brand.title}}</h1>
        </div>
        <div class="panel">
            <div class="border-panel" #border>

            </div>
            <div class="panel-wrapper" #panel >
                <div class="card" *ngFor="let cosmetic of brand.cosmetics">
                    <img class="card-image" src="{{cosmetic.image}}" alt="">
                    <div class="card-title">{{cosmetic.title}}</div>
                    <p class="card-description">{{cosmetic.description}}.</p>
                </div>
            </div>
        </div>
    </div>
</div>