<header-component></header-component>
<contact-us-copy class="contact-us" style="display: none;"></contact-us-copy>
<div class="container">
    <img class="image-bacground-one" src="../../../../assets/images/BackgroundOne.png" alt="">
    <img class="image-bacground-three" src="../../../../assets/images/BackgroundThree.png" alt="">
    <img class="image-bacground-four" src="../../../../assets/images/BackgroundFour.png" alt="">
    <img class="image-bacground-two" src="../../../../assets/images/BackgroundTwo.png" alt="">
    <router-outlet></router-outlet>
    <button class="contact-with-us-button" (click)="openContactUsForm()">
        Зв'язатися з нами
    </button>
</div>



