@import "./shared/styles/shared.scss";
@import "./shared/styles/shared-color.scss";

.container{
    position: relative;
}

.button-open-pop-up{
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 999999;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 20px 20px 0 20px;
    color: white;
    font-family: "RobotoMedium";
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: $second-color!important;
    
}

//@keyframes pulse{
  //  100%{
    //    transform: scale(1.1, 1.4);
      //  opacity: 0;
    //}
//}

.button-open-pop-up-title{
    color: $white;
    @include center-all;
}   

.button-open-pop-up-title::after{
    font-family: "Material Icons";
    content: "comment";
    font-size: 26px;
    margin-left: 10px;
    @include center-all;
    animation: tilt-shaking 0.5s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
