$header-bottom-and-top-padding: 20px;
$header-max-height-logo: 80px;
$header-border-bottom-px: 2px;

$header-height: calc(#{$header-bottom-and-top-padding * 2} + #{$header-max-height-logo} + #{$header-border-bottom-px});