$header-bottom-and-top-padding: 20px;
$header-max-height-logo: 80px;
$header-border-bottom-px: 2px;

$border-radius: 10px;

@mixin center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin phone-icon-ba{
    width: 22px;
    height: 19px;
    background-image: url("../../../../assets/images/phone-50.png");
    background-size: 19px;
    content: "";
    @include center-all;
    background-repeat: no-repeat;
}

@mixin location-icon-ba{
    background-size: 19px;
    width: 22px; 
    height: 19px;
    content:"";
    @include center-all;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/location-50.png");
}