$header-bottom-and-top-padding: 20px;
$header-max-height-logo: 80px;
$header-border-bottom-px: 2px;

$header-height: calc(#{$header-bottom-and-top-padding * 2} + #{$header-max-height-logo} + #{$header-border-bottom-px});

@mixin center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin phone-icon-ba{
    width: 22px;
    height: 19px;
    background-image: url("../../../../assets/images/phone-50.png");
    background-size: 19px;
    content: "";
    @include center-all;
    background-repeat: no-repeat;
}