<footer class="container">
  <div class="header">
    <p class="header-title">Зв'яжіться з нами в соціальних мережах:</p>
    <social-media-icons [size]=30></social-media-icons>
  </div>
  <div class="main">
    <nav class="navigation-container">
        <ul>
            <li>
                <a class="service-link" routerLink="/services">Послуги</a>
            </li>
            <li>
               <a routerLink="/cosmetics">Косметика</a>
           </li>
            <li>
                <a routerLink="/contacts">Контакти</a>
            </li>
        </ul>
    </nav>
  </div>
  <div class="rights-reserved">
    ©MediSof Всі права захищені
  </div>
</footer>