<div>
    <div class="section">
        <div class="section-background">
            
        </div>
        <div class="container">
            <div>
                <h1 class="title">Чому ви повині обрати саме нас?</h1>  
                <div class="title-line"></div>
            </div>
            
            <ul class="pros-list">
                <li class="pros-block">
                    <img src="../../../../assets/images/expertise-black-50.png" alt="">
                    <p class="pros-block-text">Експертиза та безпека</p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/treatment-black-50.png" alt="">
                    <p class="pros-block-text">Індивідуальні плани лікування</p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/infusion-pumps-black-50.png" alt="">
                    <p class="pros-block-text">Передові технології та методи</p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">Розташування в центрі міста</p> 
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/hand-with-a-pill-black-50.png" alt="">
                    <p class="pros-block-text">Лікування медичних захворювань</p>
                </li>
            </ul>
        </div>
    </div>
</div>