<div>
    <div class="section">
        <div class="section-background">
            
        </div>
        <div class="container">
            <div>
                <h1 class="title">Чому ви повині обрати саме нас?</h1>  
                <div class="title-line"></div>
            </div>
            
            <ul class="pros-list">
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">orem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">s and web page editors now use Lorem Ipsum as their default model text, and a search for </p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">to using 'Content here, cont </p>
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">d chunk of Lorem Ipsum used since the 1500s is reproduced below for</p> 
                </li>
                <li class="pros-block">
                    <img src="../../../../assets/images/location.png" alt="">
                    <p class="pros-block-text">2000 years old. Richard McClintock, a</p>
                </li>
            </ul>
        </div>
    </div>
</div>