<div class="container">
    <div class="title-block">
        <h1>Основні послуги</h1>
        <img class="title-img" src="../../../../assets/images/skincare.png" alt="" loading="lazy">
    </div>
    <ul class="card-container">
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">КОНТУРНА ПЛАСТИКА</h2>
                <p>Зміна обличчя і губ за допомогою філлерів,
                    збільшення губ і виправлення зморшок - косметологічна процедура, не вимагає хірургічного втручання.
                    Контурна пластика, вартість якої значно нижча, ніж пластична хірургія, дає практично такий же ефект
                    омолодження.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/contour-plastic-main-service.webp"
                alt="КОНТУРНА ПЛАСТИКА" />
        </li>
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">ЛАЗЕРНА ЕПІЛЯЦІЯ ВСЬОГО ТІЛА</h2>
                <p>Найефективніший, безпечний спосіб отримати ідеально гладеньку шкіру у бажаних зонах. На відміну від
                    інших методів епіляції, лазер впливає лише на волосяну цибулину, не травмуючи при цьому шкіру.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/laser-epilation-main-service.webp"
                alt="ЛАЗЕРНА ЕПІЛЯЦІЯ ВСЬОГО ТІЛА" />
        </li>
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">БОТУЛІНОТЕРАПІЯ</h2>
                <p>Проводиться для корекції і профілактики мімічних зморшок та лікування
                    гіпергідрозу в сфері косметології,  а у сфері медицини – лікування бруксизму, ДЦП, мігрені,
                    хронічного нетримання сечі, косоокості, больових відчуттів у суглобах і спині.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/botulinum-therapy-main-service.webp"
                alt="БОТУЛІНОТЕРАПІЯ" />

        </li>
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">ФОТОТЕРАПІЯ</h2>
                <p>Вибірковий вплив на проблемні ділянки шкіри інтенсивного імпульсного світла, що призводить до
                    загибелі патогенних мікроорганізмів та нормалізації роботи сальних залоз. Процедура також покращує
                    мікроциркуляцію в дермі, стимулює вироблення еластину, колагену та покращує стан шкіри в цілому.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/phototherapy-main-service.webp" alt="ФОТОТЕРАПІЯ" />
        </li>
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">БЕЗОПЕРАЦІЙНА РИНОПЛАСТИКА</h2>
                <p>Корекція незначних недоліків носа, без операційного втручання. З її допомогою носик можна зробити
                    рівним, прибрати горбинку або ямки. Однак, зменшити ніс або кардинального змінити його ринопластика
                    не зможе.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/non-surgical-rhinoplasty-main-service.webp"
                alt="БЕЗОПЕРАЦІЙНА РИНОПЛАСТИКА" />
        </li>
        <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">RF-ЛІФТИНГ</h2>
                <p>Безпечна і корисна для вашої шкіри процедура, яка без жодних ін'єкцій чи операцій допоможе
                    активізувати роботу організму щодо вироблення “білка молодості”, колагену.</p>
            </div>
            <img class="image-block" src="../../../../assets/images/rf-lifting-main-service.webp" alt="RF-ЛІФТИНГ" />
        </li>
    </ul>
</div>