@import '../../../shared/styles/shared-color.scss';
@import '../../../shared/styles/shared.scss';

@mixin image-size{
    width: 270px;
    height: 228px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
}

.title-img{
    height: 80px;
    width: 80px;
}

.title-block{
    @include center-all;
    margin-bottom: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 650px); 
    grid-template-rows: repeat(2, 300px); 
    grid-gap: 0; 
    justify-content: center;
}

.card{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: $border-radius;
}

.card:nth-child(even){
    flex-direction: row-reverse;
    margin: 100px 0 0 auto;
    
    .card-information-block{
        margin-left: auto;
        margin-right: 0;
    }
}

.card-title{
    margin: 0;
    margin-bottom: 10px;
}

.card-information-block{
    width: 48%;
    margin-right: auto;
    padding: 0 10px;

    p{
        font-size: 14px;
    }
}

.image-block{
    @include image-size;
    background-color: rgb(148, 148, 148);
}

@media (max-width: 1330px){
    .card-container{
        grid-template-columns: repeat(2, 500px);
    }

    .image-block{
        width: 220px;
        height: 180px;
        margin: auto;
    }

    .card{
        width: 98%;
    }
    
}

@media (max-width: 1030px){
    .card, .card:nth-child(even){
        margin: 0 auto 20px auto;
    }

    .card-container{
        display: flex;
        flex-direction: column;
    }

    .card:nth-child(even){
        flex-direction: row-reverse;
    }


    .image-block{
        @include image-size;
    }
    
    .card-information-block{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .card{
        width: 70%;
    }
}

@media (max-width: 850px){
    .card{
        width: 90%;
    }
}

@media (max-width: 600px){
    .card, .card:nth-child(even){
        flex-direction: column;
        align-items: center;
    }

    .card:nth-child(even) .card-information-block{
        margin-left: 0;
    }

    .card-information-block{
        margin-right: 0;
        width: auto;
        margin-bottom: 20px;
    }

    .card{
        height: auto;
    }

    .title-block{
        flex-direction: column-reverse;
    }
}