@import '../../../shared/styles/shared-color.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
}

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 650px); 
    grid-template-rows: repeat(2, 300px); 
    grid-gap: 0; 
    justify-content: center;
}

.card{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.card:nth-child(even){
    margin-top: 100px; 
    flex-direction: row-reverse;
    
    .card-information-block{
        margin-left: auto;
        margin-right: 0;
    }
}

.card-title{
    margin: auto;
}

.card-information-block{
    width: 48%;
    margin-right: auto;
}


.image-block{
    width: 48%;
    height: 100%;
    background-color: rgb(148, 148, 148);
}

