<div class="container">
    <div class="title-block">
        <h1>Основні послуги</h1>
        <img src="../../../../assets/images/cosmetology-100.png" alt="">
    </div>
    <ul class="card-container">
       <li class="card">
            <div class="card-information-block">
                <h2 class="card-title">Header of service</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="image-block">

            </div>
       </li>
       <li class="card">
        <div class="card-information-block">
            <h2 class="card-title">Header of service</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="image-block">

        </div>
   </li>
   <li class="card">
    <div class="card-information-block">
        <h2 class="card-title">Header of service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="image-block">

    </div>
</li>
<li class="card">
    <div class="card-information-block">
        <h2 class="card-title">Header of service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="image-block">

    </div>
</li>
<li class="card">
    <div class="card-information-block">
        <h2 class="card-title">Header of service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="image-block">

    </div>
</li>
    </ul>
</div>