<div class="container">
    <div class="title-block">
        <h1>Основні послуги</h1>
        <img src="../../../../assets/images/cosmetology-100.png" alt="">
    </div>
    <ul>
        <li class="service-block"><div class="ss">Main header </div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p></li>
        <li class="service-block"> <div class="ss">Main header </div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p></li>
        <li class="service-block"> <div class="ss">Main header </div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p></li>
        <li class="service-block"><div class="ss">Main header </div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p></li>
        <li class="service-block"><div class="ss">Main header </div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p></li>
    </ul>
</div>